<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% load static %}
     <link rel="stylesheet" type="text/css" href="{% static 'myapp/style13.css' %}" />
</head>
<body>
<div class="bgimage">
	<div class="menu">
		<div class="leftmenu">
			<h4><font color="#4DBEE1">ABOUT_ONLINE_APPOINTMENT_SYSTEM</font></h4>
		</div>
	</div>
	<div class="text">
		<h4>Doctor . Patient . Appointments</h4>
		<h1><font color="4169E1">DOCTOR ONLINE APPOINTMENT SYSTEM</font></h1>
		     <h3>Doctor Online Appointment System
		   	     is a online platform by which you 
		   	      can</h3><h3>easily take appointment
		         of any doctor of any hospitals</h3> 
		        <h3> which are associated with us.</h3><h3>It was created in june, 2018 and free for all.</h3><h3>Any body can use this website for free and take appointment for their doctors</h3>
	</div>
	<div class="copyright">
	<h4><center><font color="blue">&copy;2018 by SCS</font></center></h4>
	</div>
</div> 
</body>
</html>