<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% load static %}
     <link rel="stylesheet" type="text/css" href="{% static 'myapp/style5.css' %}" />
</head>
<body>
<div class="bgimage">
	<div class="menu">
		<div class="leftmenu">
			<h4><font color="#4DBEE1">ONLINE_APPOINTMENT_SYSTEM</font></h4>
		</div>
		<div class="rightmenu">
			<ul>
				<a id="firstlist" href="pdesh"><li>Patient</li></a>
				<a id="firstlist" href="ddesh"><li>Doctor</li></a>
				<a id="firstlist" href="http://127.0.0.1:8000/admin/logout/"><li>Admin</li></a>
				<a id="firstlist" href="feedback"><li>Feedback</li></a>
				<a id="firstlist" href="about"><li>About Us</li></a>
				<li>Blogs</li>
				<li>Contact</li>
			</ul>
			
		</div>
	</div>
	<div class="text">
		<font color="#4DBEE1"><h4>Doctor . Patient . Appointments</h4></font>
		<h1><font color="white">DOCTOR ONLINE APPOINTMENT SYSTEM</font></h1>
		     <h3>Doctor Online Appointment System
		   	  is a online platform by which you 
		   	      can</h3><h3>easily take appointment
		         of any doctor of any hospitels</h3> 
		        <h3> which are associated with us.</h3>
	</div>
	<div class="copyright">
	<h4><center><font color="white">&copy;2018 by RISHI</font></center></h4>
	</div>
</div> 
</body>
</html>