<!DOCTYPE html>
<html>
<head>
	<title></title>
	<center><font color="white"><h1>Welcome in Online Appointment System</h1></font></center>
</head>
<body>	
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Login Form</title>
	{% load static %}
     <link rel="stylesheet" type="text/css" href="{% static 'myapp/style9.css' %}" />
</head>
<body>
   <section>
	     <div class="container">
	     <div class="form_content">
		   <h2>What is Doctor Online Appointment System?</h2>
		   <p>Doctor Online Appointment System
		   	  is a online platform by which you 
		   	  can easily take appointment
		      of any doctor of any hospitals 
		      which are associated with us.
		   	</p>
		   <a href="#">Read More</a>
	     </div>
	     <div class="login_form">
	     	 <h1>Appointment Page</h1>
	       <form form action="apntcode" method="get">
		     <input type="text" name="txtemail" placeholder="Enter emailid" value="{{  uid }}" readonly="true"/required />
             <input type="text" name="txtapntto" placeholder="Enter Doctor's Email"/required />
             <input type="text" name="txtapntdesc" placeholder="Enter description"/required/>
             <input type="date" name="date"/required />
             <input type="time" name="time"/required />
             <input type="submit" name="btnsubmit" value="Click">
	       </form>
	       <a href="viewapnt">View your Appointment</a>
	       <br>
	       <br>
	       <a href="logout">Logout</a>
	     </div>
        </div>
   </section>
</body>
</html>